.title {
    padding-top:100px;
    padding-bottom:50px;
    text-align:center;
    color:rgb(9,16,62);
    font-family:'Courier New', monospace; 
    font-size:75px; 
    font-weight: bold;
}

.record {
    display:grid;
    padding:10px;
    border:solid;
    border-width:5px;
    border-radius:15px;
    border-color: rgb(9,16,62);
    margin:30px auto;
    min-width: 280px;
    max-width: 700px;
}

.textbox {
    color: rgb(80, 80, 82); 
    border:solid;
    margin:5px;
    border-radius:15px;
    padding:2px 10px;
}

.labels {
    color: rgb(80, 80, 82); 
    font-size: 15px;

}

.small {
    display:none;
}

.big {
    display:grid;
}

.collapseButton, .expandButton {
        text-align:center; 
        border-radius: 30px;
        padding: 0px;
        border-style:solid;
        border-width: 4px;
        border-color:rgba(9,16,62,1); 
        display: inline-block;
        background-color:rgba(9,16,62,1); 
        color:rgba(234,236,244,1); 
        font-family:'Courier New', monospace; 
        font-size:30px; 
        width:30px;
        height:30px;
        cursor: pointer;
        user-select: none;
}

.expandButton {
    transform: rotate(180deg);
}

.collapseButton:hover, .expandButton:hover {
    background-color: rgb(80, 80, 82); 
    border-color: rgb(80, 80, 82); 
}

.collapseButton:active, .expandButton:active {
    border-color: rgba(9,16,62,1); 
}