.navigate, .thispage {
    text-align:center; 
    /* border-right: solid; */
    /* border-right-color:rgba(234,236,244,1);  */
    /* width:120px; */
    border: 3px solid rgba(9,16,62,1);
    padding: 12px 22px;
    display: inline-block;
	background-color:rgba(9,16,62,1); 
	color:rgba(234,236,244,1); 
	font-family:'Courier New', monospace; 
    font-size:15px; 
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.navigatenohover{
    text-align:center; 
    /* border-right: solid; */
    /* border-right-color:rgba(234,236,244,1);  */
    /* width:120px; */
    border: 3px solid rgba(9,16,62,1);
    padding: 12px 22px;
    display: inline-block;
	background-color:rgba(9,16,62,1); 
	color:rgba(234,236,244,1); 
	font-family:'Courier New', monospace; 
    font-size:15px; 
    user-select: none;
    text-decoration: none;
}
.navigate:hover, .thispage:hover{
        background-color: rgb(80, 80, 82); 
        border: 3px solid rgb(80, 80, 82); 
}

.navigate:active, .thispage:hover{
    background-color: rgb(80, 80, 82); 
    border: 3px solid rgba(9,16,62,1); 
}

.thispage{
    border-bottom-color: aqua;
}

.thispage:hover{
    background-color: rgb(80, 80, 82); 
    border: 3px solid rgb(80, 80, 82); 
    border-bottom-color: aqua;
}
